{% extends "cms/includes/blog_post_body.html" %}

{% if post %}
{% load cms_tags wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags %}

{% block blog_post_content %}

<div class="row">
    {% if post.feed_image %}
    <div class="small-4 columns">
        <a href="{% pageurl post %}">
            <div>
                {% image post.feed_image max-600x300 as tmp_image %}
                <img src="{{ tmp_image.url }}" width="100%" alt="{{ tmp_image.alt }}">
                <time datetime="{{ post.date|date:'c' }}">{{ post.date|date_as_block}}</time>
            </div>
        </a>
        <h3>
            <a href="{% pageurl post %}">{{ post.title }}</a>
        </h3>

    </div>
    {% endif %}
</div>
{% endblock %}

{% block share_on_twitter %}{% endblock %}

{% endif %}