{% if pages %}
{% load wagtailcore_tags wagtailimages_tags %}

{% for page in pages %}
{% if forloop.first %}
<div class="gray-bg">
	<div class="row collapse">
	    {% if page.feed_image %}
	    <div class="medium-4 columns">
	        {% image page.feed_image max-300x300 as tmp_image %}
	        <a href="{% pageurl page %}">
	            <img src="{{ tmp_image.url }}" width="100%" alt="{{ tmp_image.alt }}">
	        </a>
	    </div>
	    {% endif %}

	    <div class="medium-{% if page.feed_image %}8{% else %}12{% endif %} columns text-content">
	        <h2 class="subhead subtitle">
	            <a href="{% pageurl page %}">{{ page.title }}</a>
	        </h2>

	        <p>
	            {% if page.search_description %}
	            {{ page.search_description }} <a href="{% pageurl page %}" title="{{ page.title }}"></a>
	            {% endif %}
	        </p>

	        <p class="more"><a href="{% pageurl page %}" title="{{ page.title }}">Read more <i class="fa fa-play"></i></a></p>
	    </div>
	</div>
</div>
{% endif %}
{% endfor %}
<div class="row collapse narrow-container">
{% for page in pages %}
{% if not forloop.first and not forloop.last %}
	<div class="medium-6 columns">
    	<h2><a href="{% pageurl page %}">{{ page.title }}</a></h2>
    </div>
{% elif forloop.last %}
	<div class="medium-6 columns end">
    	<h2><a href="{% pageurl page %}">{{ page.title }}</a></h2>
    </div>
{% endif %}
{% endfor %}
</div>

{% endif %}