-r ddhldap/requirements.txt
-r twitterhut/requirements.txt
django
django-compressor
django-extensions
django-grappelli
django-libsass
django-model-utils
django-redis
django-require
elasticsearch>=2.0.0,<3.0.0
psycopg2
redis
wagtail
