{% load wagtailimages_tags %}

<div class="gray-bg">
    {% if value.title %}
    <h2 class="section-title">{{ value.title }}</h2>
    {% endif %}
    <ul class="no-bullet">
        {% for item in value.items %}
        <li>
            {% image item.image width-300 as theimage %}
            <img src="{{ theimage.url }}" alt="{{ theimage.title }}">
            {{ item.title }}
            {{ item.subtitle }}
            <p>{{ item.description }}</p>
        </li>
        {% endfor %}
    </ul>
</div>