{% load wagtailcore_tags wagtailimages_tags %}

<div class="full-width gray-bg">
    {% if value.title %}
    {{ value.title }}
    {% endif %}
    <ul>
        {% for item in value.items %}
        <li>
            {% image item.image width-300 as theimage %}

            {% if item.url or item.page %}
            <a href="{% if item.url %}{{ item.url }}{% else %}{% pageurl item.page %}{% endif %}">
            {% endif %}
                <img src="{{ theimage.url }}" alt="{{ theimage.title }}">
            {% if item.url or item.page %}
            </a>
            {% endif %}
    </li>
    {% endfor %}
</ul>
</div>