{% extends "cms/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block meta_title %}Form{% endblock %}

{% block main %}
<div class="page-content">
    <div class="default-banner shadowed banner-block with-background ">
        <h2 class="subtitle">Submit your request</h2>
        <h1>{{ page.title }}</h1>
    </div>

    {{ page.intro|richtext }}
    
    <form class="kdl-form" action="{% pageurl page %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button" type="submit">
    </form>
</div>
{% endblock %}