{% extends "cms/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block meta_title %}Form{% endblock %}

{% block main %}
    <div class="page-content">
        <div class="default-banner shadowed banner-block with-background ">
            <h2 class="subtitle">Submit your request</h2>
            <h1>{{ page.title }}</h1>
        </div>
        <div class="rich-text">
            <p>{{ page.intro|richtext }}</p>
        </div>
        <form class="kdl-form" action="{% pageurl page %}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <p>
                    <label for="{{ field.label }}">{{ field.label_tag }}
                        {% if field.field.required %}<span class="special_class">*</span>{% endif %}</label>
                    {{ field.errors }}
                    {% if field.help_text %}
                        {{ field.help_text|safe }}
                    {% endif %}
                    {{ field }}
                </p>
            {% endfor %}
            <input class="button" type="submit">
        </form>
    </div>
{% endblock %}