@import 'settings';
@import 'fonts';
@import 'font-awesome';
@import '../vendor/foundation-sites/scss/foundation';
@import '../vendor/motion-ui/motion-ui';
@include foundation-everything;

/** Custom styles **/

/* Globals */

body {
    font-size: 1.5625rem;
}

p {
    line-height: rem-calc(30);
}

blockquote {
    position: relative;
    font-size: rem-calc(36);
    line-height: rem-calc(38);    
    margin: rem-calc(24) auto;
    max-width: rem-calc(1080);

    p,
    cite {
        font-style: normal;
        // padding: 0 rem-calc(12);
        margin: 0;

        &.attribution,
        &.affiliation {
            font-family: "KingsBureauGrot", sans-serif;
            font-size: rem-calc(24);
            line-height: rem-calc(30);
        }

        &.attribution {
            color: $dark-blue;
            margin-top: rem-calc(24);
        }

        &.affiliation {
            color: $another-gray;
        }
    }

    &:before {
        position: absolute;
        content: "\201c";
        color: $another-gray;
        font-family: "KingsBureauGrot", sans-serif;
        font-size: rem-calc(60);
        top: rem-calc(20);
        left: rem-calc(-16);
        float: left;
    }
}

button,
.button {
	position: relative;
	display: block;
    width: rem-calc(240);
    margin-left: auto;
    margin-right: auto;
}

cite:before {
    content: none;
}

.counter-collapse {
	padding: 0 rem-calc(16);
}

.darker {
    background: scale-color($primary-color, $lightness: -30%);
}

.dark-blue {
    color: $dark-blue;
}

.featured-page-block {
	.subtitle,
	.subtitle a {
		color: $white;
	}
}

.float-right-large {
    float: right;
    text-align: right;
}

.full-width {
    width: 100%;
    margin-bottom: rem-calc(24);
    padding: rem-calc(24);

    .row {
        max-width: rem-calc(1008);
        margin-left: auto;
        margin-right: auto;
    }

    img {
        width: 100%;
    }
}

.light-gray-bg {
    background: rgba($another-gray, .4);
}

.row-block {
    .column {
        .image {
            position: relative;
            padding: rem-calc(12);
            background: $white;
            margin-top: rem-calc(12);
            margin-bottom: rem-calc(12);

            img {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.section-title {
    color: $dark-blue-gray;
}

.shadowed {
    -webkit-box-shadow: inset 0 20px 20px -20px $black;
    box-shadow: inset 0 20px 20px -20px $black;

    h1,
    .subtitle {
    	color: $white;
    }
}

.spaced-up {
	margin: rem-calc(30) 0;
}

.starred-page {
	a {
		color: $white;
	}
}

.text-content {
	padding: rem-calc(16) !important;
}

.top-padding {
    padding-top: rem-calc(7);
}

.two-columns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.with-background {
	background: url('/static/images/grid-pattern.svg') $primary-color;
    background-size: rem-calc(432);
    // height: 100%;

    blockquote {
    	max-width: rem-calc(680);
    	font-size: rem-calc(48);
    	line-height: rem-calc(50);
    	margin: 0 auto;
    	// padding: rem-calc(100) 0;
    	color: $white;

    	.attribution {
    		color: $white;
    	}
    }
}

/* Buttons */

button,
.button,
.text-button {
    font-family: 'KingsBureauGrot', sans-serif;
    border: 0;
}

main,
.main {

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	ol,
	ul,
	span {
		max-width: rem-calc(1080);
		margin-left: auto;
		margin-right: auto;
	}

    button,
    .button {
        // box-shadow: 4px 4px 8px scale-color($primary-color, $lightness: 40%);
        font-size: rem-calc(20);
        border-bottom: 7px solid scale-color($primary-color, $lightness: -40%);

        &:hover,
        &:focus {
            margin-top: 3px;
            border-bottom: none;
        }
    }

    .banner-block {
    	h1 {
    		margin-bottom: 0;
    	}

		p,
		h1,
		h2,
		h3,
		h4,
		h5,
		ol,
		ul,
		span {
			max-width: 100%;
		}
    }
}

.text-button:after {
    content: "\f0da";
    font-family: "FontAwesome";
    padding-left: .25rem;
}

.search-box {
    margin-top: 2.5rem;
    margin-right: rem-calc(24);

    button {
        padding: .75rem;
        margin-top: -1px;
    }

    button:after {
        content: "\f002";
        font-family: "FontAwesome";
    }
}

/* Category colours */

// Blue and light blue
.blue-azure {

	&.with-background {
		background-color: $dark-blue;
	}

	a,
	h3,
	.title,
	blockquote {
		color: $tertiary-color;
	}

	.tags {
		background-color: $dark-yellow;
	}
}

// Yellow and brown
.yellow-brown {

	&.with-background {
		background-color: $dirty-brown;
	}

	a,
	h3,
	.title,
	blockquote {
		color: $dark-yellow;
	}

	.tags {
		background-color: $dark-yellow;
	}

}
/* Headings */

header {
    .kdl-heading {
        padding: 1.5rem 0 0 1.5rem;

        img {
            max-width: 167px;
            max-height: 82px;
        }

        a {
            display: block;
        }
    }

    .kcl-logo img {
        max-width: rem-calc(158px);
    }
}

h2 {
    font-family: 'KingsCaslon', serif;
    font-weight: 400;
    font-style: normal;
}

.post-section-title {
	background: $another-gray;
	padding: rem-calc(18) rem-calc(20);
	margin: rem-calc(36) 0;
}

.subhead {
    font-size: rem-calc(30);
}

.subtitle,
.title {
	font-family: 'KingsBureauGrot', sans-serif;
}

/* Navigation */

nav {
    .title-bar {
        font-family: "KingsBureauGrot", sans-serif;
    }

    .menu {
        font-family: "KingsBureauGrot", sans-serif;
        font-size: 1.5rem;

        a {
            color: $nav-anchor;
            padding: .25rem;
        }

        .active > a {
            background: transparent;
            color: $primary-color;
        }
    }
}

.title-bar {
    background-color: scale-color($primary-color, $lightness: 50.5%);
    padding: .75rem 1.125rem;

    button:after {
        content: "\f0d7";
        font-family: "FontAwesome";
        padding-left: rem-calc(6);
    }
}

/** Main **/

.narrow-container {
	max-width: 1080px;
	margin: 0 auto;
}

.lead-paragraph {
    margin: rem-calc(18) auto;
    max-width: rem-calc(836);

    p {
        color: $dark-blue;
        font-size: rem-calc(36);
        line-height: rem-calc(38);
    }
}

/* Banner */

.default-banner,
.category-bg {
    position: relative;
    line-height: 1.125;
    display: block;
    background-image: url('/static/images/grid-pattern.svg') !important;
    background-size: rem-calc(432) !important;

    .subtitle {
        color: $tertiary-color;
        padding: 1.5rem 1.5rem 0;
    }

    h1 {
        color: $white;
        padding: 0 1.5rem 1.5rem 1.5rem;
        margin-bottom: 0;
        max-width: rem-calc(836);
        line-height: rem-calc(60);
    }

}

/* Default Banner */

.default-banner {
	width: 100%;
    // background: $primary-color;
}

/* TODO: ADD media queries */
.full-height-banner {
	width: 100%;
    img {
        min-width: 100%;
        height: calc(100vh - 367px);
        object-fit: cover;
        object-position: 20% 50%;
    }
    height: calc(100vh - 124px);

    button,
    .button {
        position: absolute;
        bottom: 0;

        &.discover {
            background: $tertiary-color;
            border-color: scale-color($tertiary-color, $lightness: -40%);
            left: calc(50% - 120px);

            &:hover {
                background: scale-color($tertiary-color, $lightness: -20%);
            }
        }
    }

    &.with-tags {
        height: calc(100vh - 304px);
        .discover {
            bottom: rem-calc(150);
            background: $primary-color;
            border-color: scale-color($primary-color, $lightness: -40%);

            &:hover {
                background: scale-color($primary-color, $lightness: -20%);
            }
        }
    }
}

// Aggregate page banner

.aggregate-banner {
	width: 100%;
    background: $primary-color;
    background-image: url('/static/images/grid-pattern.svg');
    background-size: 432px 432px;
    min-height: rem-calc(207);
    color: $nav-anchor;
    padding: rem-calc(8);

    a,
    h1 {
        color: $white;
        font-size: rem-calc(48);
    }

    p {
        font-family: "KingsBureauGrot", sans-serif;
        font-size: rem-calc(24);
        padding: rem-calc(24) 0 0;

    }
}

/* Homepage */

.homepage {
	.with-background {

		blockquote {
			padding: rem-calc(100) 0;

			&:before {
        		top: rem-calc(100);
        		left: rem-calc(-30);
			}
		}
	}
}

.home-banner {
	width: 100%;
    position: relative;
    background: #002395;
    background-image: url('/static/images/shards-homepage.svg'), url('/static/images/grid-pattern.svg');
    background-size: 990px auto, 432px 432px;
    background-repeat: no-repeat, repeat;
    background-position: right -125px top, right top;

    .absolute {
        position: absolute;
        top: 35%;
    }

    .half-block {
        position: relative;
        top: -65%;
        max-width: 678px;
        padding-left: rem-calc(8);
    }

    h1 {
        font-family: "KingsCaslon";
        font-size: rem-calc(72);
        line-height: rem-calc(76);
    }

    h2 {
        position: relative;
        top: -50%;
        font-family: "KingsBureauGrot";
        font-size: rem-calc(30);
    }

    h1,
    h2 {
        color: $white;
    }
}

// Tags

.tags {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    padding: rem-calc(24);
    background-image: url('/static/images/grid-pattern.svg');
    background-size: 432px;

    li {
        height: rem-calc(36);
        padding-right: rem-calc(10);
    }

    li > a {
        font-size: rem-calc(18);
        color: $white;
        border: 1px solid $white;
        padding: rem-calc(6);

        &:hover {
            background: scale-color($tertiary-color, $lightness: -15%);
        }
    }

    .menu {
        li {
            display: inline-block;
        }
    }
}

/* Block list */

.block-list {
    margin: 0 auto;
    max-width: rem-calc(836);
    list-style-type: none;

    li {
        background: url('/static/images/list-bg-element.png') 46px 46px no-repeat rgba($another-gray, .2);
        counter-increment: step-counter;
        margin: rem-calc(16);
        padding-bottom: rem-calc(24);

        &:before {
            content: counter(step-counter);
            font-family: "KingsBureauGrot", sans-serif;
            font-size: rem-calc(48);
            color: $tertiary-color;
            padding: 0 rem-calc(16);
        }

        * {
            padding: 0 rem-calc(24) 0 rem-calc(64);
        }

        h3:first-child {
            margin-top: -54px;
        }
    }
}

/** Images **/

.caption,
caption {
    font-family: "KingsBureauGrot", sans-serif;
    font-size: rem-calc(16);
}

.team {
    margin-bottom: rem-calc(24);

    img {
        width: 90%;
    }
}

/** Footer **/

footer,
.footer {
    padding: rem-calc(24) rem-calc(24) 0;
    background: $primary-color;
    color: $another-gray;

    a {
        color: $another-gray;
    }

    .top-footer,
    .bottom-footer {
        display: block;

        .menu > li > a {
            padding: 0;
            line-height: rem-calc(30);
        }
    }

    .top-footer {
        padding: 0 rem-calc(24);
    }

    .bottom-footer {
        padding: rem-calc(24);
        margin-top: rem-calc(24);
    }
}

/** More media queries **/

@include breakpoint(large up) {
    .aggregate-banner {
        min-height: rem-calc(240);

        p {
            font-size: rem-calc(30);
        }

        h1 {
            font-size: rem-calc(60);
        }
    }

    button,
    .button {
    	width: rem-calc(504);
    }

    .home-banner,
    .full-height-banner {
        button,
        .button {
            &.discover {
                left: calc(50% - 252px);
            }
        }
        &.with-tags {
            height: calc(100vh - 256px);
        }
    }
}

@include breakpoint(medium down) {
    .float-right-large {
        float: left;
        text-align: left;
    }

    body {
        font-size: rem-calc(20);
    }

    p {
        line-height: rem-calc(24);
    }

    header {
        .kdl-heading {
            padding: rem-calc(12) rem-calc(12) 0;
            img {
                // max-width: 100%;
                max-height: rem-calc(36);
            }
        }
    }

    .banner {
        img {
            height: calc(100vh - 294px);
        }
        height: calc(100vh - 48px);
    }

    blockquote {
        margin-left: 0 !important;
    }

    footer {
        .menu.simple {
            li {
                display: block;
            }
        }

        .menu.vertical {
            margin-bottom: 1.5rem;
        }

        .two-columns {
            -webkit-column-count: 1; /* Chrome, Safari, Opera */
            -moz-column-count: 1; /* Firefox */
            column-count: 1;
        }
    }

    .expand-menu {
        position: absolute;
        padding: rem-calc(24);
        left: 0;
        width: 100%;
        z-index: 999;

        background: $another-gray !important;

        li a {
            color: $white;
        }
    }

    .shadowed-small {
        -webkit-box-shadow: inset 0 20px 20px -20px $black;
        box-shadow: inset 0 20px 20px -20px $black;
    }

    .team {
        img {
            max-width: rem-calc(154);
            margin-bottom: rem-calc(24);
        }
    }

    .top-bar {
        padding: 0;
    }
}
