@import 'settings';
@import 'fonts';
@import 'font-awesome';
@import '../vendor/foundation-sites/scss/foundation';
@import '../vendor/motion-ui/motion-ui';
@include foundation-everything;

/** Custom styles **/

/* Globals */

body {
	font-size: 1.5625rem;
}

p {
	line-height: rem-calc(30);
}

blockquote {
	position: relative;
	font-size: rem-calc(36);
	margin: rem-calc(24) 0;

	p,
	cite {
		font-style: normal;
		padding: 0 rem-calc(12);
		line-height: rem-calc(38);
		margin: 0;

		&.author,
		&.affiliation {
			font-family: "KingsBureauGrot", sans-serif;
			font-size: rem-calc(24);
			line-height: rem-calc(30);
		}

		&.author {
			color: $dark-blue;
			margin-top: rem-calc(24);
		}

		&.affiliation {
			color: $another-gray;
		}
	}

	&:before {
		position: absolute;
		content: "\201c";
		color: $another-gray;
		font-family: "KingsBureauGrot", sans-serif;
		font-size: rem-calc(60);
		top: -5px;
		left: 0;
		float: left;
	}
}

cite:before {
	content: none;
}

.float-right-large {
	float: right;
	text-align: right;
}

.full-width {
	width: 100%;
	margin-bottom: rem-calc(24);
	padding: rem-calc(24);

	.row {
		max-width: rem-calc(1008);
		margin-left: auto;
		margin-right: auto;
	}

	img {
		width: 100%;
	}
}

.darker {
	background: scale-color($primary-color, $lightness: -30%);
}

.dark-blue {
	color: $dark-blue;
}

.light-gray-bg {
	background: rgba($another-gray, .4);
}

.row-block {
	.column {
		.image {
			position: relative;
			padding: rem-calc(12);
			background: $white;
			margin-top: rem-calc(12);
			margin-bottom: rem-calc(12);

			img {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

.shadowed {
	-webkit-box-shadow: inset 0 20px 20px -20px $black;
    box-shadow: inset 0 20px 20px -20px $black;
}

.top-padding {
	padding-top: rem-calc(7);
}

.two-columns {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

/* Buttons */

button,
.button,
.text-button {
	font-family: 'KingsBureauGrot', sans-serif;
	border: 0;
}

main,
.main {
	button,
	.button {
		// box-shadow: 4px 4px 8px scale-color($primary-color, $lightness: 40%);
		font-size: rem-calc(20);
		border-bottom: 7px solid scale-color($primary-color, $lightness: -40%);
	}
}

// button:hover,
// .button:hover {
// 	box-shadow: none;
// }

.text-button:after {
	content: "\f0da";
	font-family: "FontAwesome";
	padding-left: .25rem;
}

.search-box {
	margin-top: 2.5rem;
	margin-right: rem-calc(24);

	button {
		padding: .75rem;
		margin-top: -1px;
	}

	button:after {
		content: "\f002";
		font-family: "FontAwesome";
	}
}

/* Headings */

header {
	.kdl-heading {
		padding: 1.5rem 0 0;

		img {
			max-width: 167px;
			max-height: 82px;
		}

		a {
			display: block;
		}
	}

	.kcl-logo img {
		max-width: rem-calc(158px);
	}
}

h2 {
	font-family: 'KingsCaslon', serif;
	font-weight: 400;
	font-style: normal;
}

.subhead {
	font-size: rem-calc(30);
}

.post-section-title {
	background: $another-gray;
	color: $dark-blue;
	padding: rem-calc(18) rem-calc(20);
	margin: rem-calc(36) 0;
}

/* Navigation */

nav {
	.title-bar {
		font-family: "KingsBureauGrot", sans-serif;
	}

	.menu {
		font-family: "KingsBureauGrot", sans-serif;
		font-size: 1.5rem;

		a {
			color: $nav-anchor;
			padding: .25rem;
		}

		.active > a {
			background: transparent;
			color: $primary-color;
		}
	}
}

.title-bar {
	background-color: scale-color($primary-color, $lightness: 50.5%);
	padding: .75rem 1.125rem;

	button:after {
		content: "\f0d7";
		font-family: "FontAwesome";
		padding-left: rem-calc(6);
	}
}

/** Main **/

.lead-paragraph {
	margin: rem-calc(18) auto;
	max-width: rem-calc(836);

	p {
		color: $dark-blue;
		font-size: rem-calc(36);
		line-height: rem-calc(38);
	}
}

.indented {
	max-width: rem-calc(664);
	margin-left: auto;
	margin-right: auto;

	blockquote {
		margin-left: -30px;
	}
}

/* Pre Banner */

.pre-banner {
	position: relative;
	line-height: 1.125;
	display: block;
	// height: rem-calc(240);
	background-image: url('/static/images/grid-pattern.svg');
	background-color: #0a2d50;
	background-size: 432px;

	.pre-title {
		color: $tertiary-color;
		padding: 1.5rem 1.5rem 0;
	}

	h1 {
		color: $white;
		padding: 0 1.5rem 1.5rem 1.5rem;
		margin-bottom: 0;
		max-width: rem-calc(836);
		line-height: rem-calc(60);
	}
}

/* Banner */

/* TODO: ADD media queries */
.banner {
	img {
		width: 100%;
	}
	height: calc(100vh - 124px);
}

.homepage {
	position: relative;
	background: #002395;
	background-image: url('/static/images/shards-homepage.svg'), url('/static/images/grid-pattern.svg');
	background-size: 990px auto, 432px 432px;
	background-repeat: no-repeat, repeat;
	background-position: right -125px top, right top;

	.absolute {
		position: absolute;
		top: 35%;		
	}

	.half-block {
		position: relative;
		top: -65%;
		max-width: 678px;
	}

	h1 {
		font-family: "KingsCaslon";
		font-size: rem-calc(72);
		line-height: rem-calc(76);
	}

	h2 {
		position: relative;
		top: -50%;
		font-family: "KingsBureauGrot";
		font-size: rem-calc(30);
	}

	h1,
	h2 {
		color: $white;
	}

	button,
	.button {
		position: absolute;
		bottom: 0;

		&.discover {
			width: rem-calc(504);
			// color: scale-color($primary-color, $lightness: 20%);
			background: $tertiary-color;
			border-color: scale-color($tertiary-color, $lightness: -40%);
			// box-shadow: none;
			// border: 1px dotted scale-color($primary-color, $lightness: 20%);
			left: calc(50% - 252px);

			&:hover {
				background: scale-color($tertiary-color, $lightness: -20%);
			}
		}
	}
}

// Tags

.tags {
	display: block;
	padding: rem-calc(24);
	background-image: url('/static/images/grid-pattern.svg');
	background-color: $tertiary-color;
	background-size: 432px;

	li {
		height: rem-calc(36);
		padding-right: rem-calc(10);
	}

	li > a {
		font-size: rem-calc(18);
		color: $white;
		border: 1px solid $white;
		padding: rem-calc(6);

		&:hover {
			background: scale-color($tertiary-color, $lightness: -15%);
		}
	}

	.menu {
		li {
			display: inline-block;
		}
	}
}

/* Block list */

.block-list {
    margin: 0 auto;
    max-width: rem-calc(836);
    list-style-type: none;

    li {
    	// background: rgba($another-gray, .2);
    	// background-image: url('/static/images/list-bg-element.png');
    	background: url('/static/images/list-bg-element.png') 46px 46px no-repeat rgba($another-gray, .2);
	    counter-increment: step-counter;
	    margin: rem-calc(16);
	    padding-bottom: rem-calc(24);

	    // min-height: rem-calc(420);

	    &:before {
	    	content: counter(step-counter);
		    font-family: "KingsBureauGrot", sans-serif;
		    font-size: rem-calc(48);
		    color: $tertiary-color;
		    padding: 0 rem-calc(16);
	    }

	    * {
	    	padding: 0 rem-calc(24) 0 rem-calc(64);
	    }

	    h3:first-child {
	    	margin-top: -54px;
	    }
    }
}

// This needs to be revisited

.stream-field {
	padding: rem-calc(24);
	max-width: rem-calc(1008);
	margin-left: auto;
	margin-right: auto;
}

/** Images **/

.caption,
caption {
	font-family: "KingsBureauGrot", sans-serif;
	font-size: rem-calc(16);
}

.team {
	margin-bottom: rem-calc(24);

	img {
		width: 90%;
	}
}


/** Footer **/

footer,
.footer {
	padding: rem-calc(24) rem-calc(24) 0;
	background: $primary-color;
	color: $another-gray;

	a {
		color: $another-gray;
	}

	.top-footer,
	.bottom-footer {
		display: block;

		.menu > li > a {
			padding: 0;
			line-height: rem-calc(30);
		}
	}

	.top-footer {
		padding: 0 rem-calc(24);
	}

	.bottom-footer {
		padding: rem-calc(24);
		margin-top: rem-calc(24);
	}
}

/** More media queries **/

@include breakpoint(medium down) {
	.float-right-large {
		float: left;
		text-align: left;
	}
	
	body {
		font-size: rem-calc(20);
	}

	p {
		line-height: rem-calc(24);
	}
	
	header {
		.kdl-heading {
			padding: rem-calc(12) rem-calc(12) 0;
			img {
				// max-width: 100%;
				max-height: rem-calc(36);
			}
		}
	}

	.banner {
		height: calc(100vh - 48px);
	}

	blockquote {
		margin-left: 0 !important;
	}

	footer {
		.menu.simple {
			li {
				display: block;
			}
		}

		.menu.vertical {
			margin-bottom: 1.5rem;
		}

		.two-columns {
			-webkit-column-count: 1; /* Chrome, Safari, Opera */
		    -moz-column-count: 1; /* Firefox */
		    column-count: 1;
		}
	}

	.expand-menu {
		position: absolute;
		padding: rem-calc(24);
		left: 0;
		width: 100%;
		z-index: 999;

		background: $another-gray !important;

		li a {
			color: $white;
		}
	}

	.shadowed-small {
		-webkit-box-shadow: inset 0 20px 20px -20px $black;
	    box-shadow: inset 0 20px 20px -20px $black;
	}

	.team {
		img {
			max-width: rem-calc(154);
			margin-bottom: rem-calc(24);
		}
	}

	.top-bar {
		padding: 0;
	}
}
