@import 'settings';
@import 'fonts';
@import '../vendor/foundation-sites/scss/foundation';
@import '../vendor/motion-ui/motion-ui';
@include foundation-everything;

/** Custom styles **/

/* Globals */

body {
	font-size: 1.5625rem;
}

p {
	line-height: rem-calc(30);
}

blockquote {
	position: relative;
	font-size: rem-calc(36);
	margin: rem-calc(24) 0;

	p {
		padding: 0 rem-calc(12);
		line-height: rem-calc(38);
		margin: 0;

		&.author,
		&.affiliation {
			font-family: "KingsBureauGrot", sans-serif;
			font-size: rem-calc(24);
			line-height: rem-calc(30);
		}

		&.author {
			color: $dark-blue;
			margin-top: rem-calc(24);
		}

		&.affiliation {
			color: $another-gray;
		}
	}

	&:before {
		position: absolute;
		content: "\201c";
		color: $another-gray;
		font-family: "KingsBureauGrot", sans-serif;
		font-size: rem-calc(60);
		// font-weight: 700;
		top: -5px;
		left: 0;
		float: left;
	}
}

.darker {
	background: scale-color($primary-color, $lightness: -30%);
}

/* Buttons */

button,
.button,
.text-button {
	font-family: 'KingsBureauGrot', sans-serif;
}

main,
.main {
	button,
	.button {
		box-shadow: 4px 4px 8px scale-color($primary-color, $lightness: 40%);
		font-size: rem-calc(20);
	}
}

button:hover,
.button:hover {
	box-shadow: none;
}

.text-button:after {
	content: "\f0da";
	font-family: "FontAwesome";
	padding-left: .25rem;
}

.search-box {
	margin-top: 2.5rem;

	button {
		padding: .75rem;
		margin-top: -1px;
	}

	button:after {
		content: "\f002";
		font-family: "FontAwesome";
	}
}

/* Headings */

header {
	.kdl-heading {
		padding: 1.5rem 1.5rem 0;

		img {
			max-width: 167px;
			max-height: 82px;
		}

		a {
			display: block;
		}
	}

	.kcl-logo img {
		max-width: rem-calc(158px);
	}
}

h2 {
	font-family: 'KingsCaslon', serif;
	font-weight: 400;
	font-style: normal;
}

.subhead {
	font-size: rem-calc(30);
}

/* Navigation */

nav {
	.title-bar {
		font-family: "KingsBureauGrot", sans-serif;
	}

	.menu {
		font-family: "KingsBureauGrot", sans-serif;
		font-size: 1.5rem;

		a {
			color: $nav-anchor;
			padding: .25rem;
		}

		.active > a {
			background: transparent;
			color: $primary-color;
		}
	}
}

.title-bar {
	background-color: scale-color($primary-color, $lightness: 50.5%);
	padding: .75rem 1.125rem;

	button:after {
		content: "\f0d7";
		font-family: "FontAwesome";
		padding-left: rem-calc(6);
	}
}

/** Main **/

/* Post Banner */

.pre-banner {
	position: relative;
	line-height: 1.125;
	display: block;
	height: rem-calc(240);
	background-image: url('/static/images/grid.png');
	background-color: #0a2d50;
	background-size: 35%;

	.pre-title {
		color: $tertiary-color;
		padding: 1.5rem 1.5rem 0;
	}

	h1 {
		color: $white;
		padding: 0 1.5rem 1.5rem 1.5rem;
	}
}

.banner {

}

// Tags

.tags {
	padding: rem-calc(24);
	background-image: url('/static/images/grid.png');
	background-color: $tertiary-color;
	background-size: 35%;

	li {
		height: rem-calc(36);
		padding-right: rem-calc(10);
	}

	li > a {
		font-size: rem-calc(18);
		color: $white;
		border: 1px solid $white;
		padding: rem-calc(6);

		&:hover {
			background: scale-color($tertiary-color, $lightness: -15%);
		}
	}
}

// This needs to be revisited

.stream-field {
	padding: rem-calc(24);
}

/** Footer **/

footer,
.footer {
	padding: rem-calc(24) rem-calc(24) 0;
	background: $primary-color;
	color: $another-gray;

	a {
		color: $another-gray;
	}

	.top-footer,
	.bottom-footer {
		display: block;

		.menu > li > a {
			padding: 0;
			line-height: rem-calc(30);
		}
	}

	.top-footer {
		padding: 0 rem-calc(24);
	}

	.bottom-footer {
		padding: rem-calc(24);
		margin-top: rem-calc(24);
	}
}

/** More media queries **/

@include breakpoint(small only) {
	body {
		font-size: rem-calc(20);
	}

	p {
		line-height: rem-calc(24);
	}
	
	header {
		.kdl-heading {
			padding: rem-calc(13) rem-calc(24);
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}