@import 'settings';
@import 'fonts';
@import '../vendor/foundation-sites/scss/foundation';
@import '../vendor/motion-ui/motion-ui';
@include foundation-everything;

/** Custom styles **/

/* Globals */

body {
	font-size: 1.5625rem;
}

p {
	line-height: rem-calc(30);
}

.darker {
	background: scale-color($primary-color, $lightness: -30%);
}

/* Buttons */

button,
.button,
.text-button {
	font-family: 'KingsBureauGrot', sans-serif;
}

main,
.main {
	button,
	.button {
		box-shadow: 4px 4px 8px scale-color($primary-color, $lightness: 40%);
		font-size: rem-calc(20);
	}
}

button:hover,
.button:hover {
	box-shadow: none;
}

.text-button:after {
	content: "\f0da";
	font-family: "FontAwesome";
	padding-left: .25rem;
}

.search-box {
	margin-top: 3rem;

	button {
		padding: .75rem;
		margin-top: -1px;
	}

	button:after {
		content: "\f002";
		font-family: "FontAwesome";
	}
}

/* Headings */

header {
	.kdl-heading {
		padding: 1rem;

		img {
			max-width: 167px;
			max-height: 82px;
		}
	}

	.kcl-logo img {
		max-width: rem-calc(158px);
	}
}

h2 {
	font-family: 'KingsCaslon', serif;
	font-weight: 400;
	font-style: normal;
}

.subhead {
	font-size: 30px;
}

/* Navigation */

nav {
	.title-bar {
		font-family: "KingsBureauGrot", sans-serif;
	}

	.menu {
		font-family: "KingsBureauGrot", sans-serif;
		font-size: 1.5rem;

		a {
			color: scale-color($secondary-color, $lightness: 70%);
			padding: .25rem;
		}

		.active > a {
			background: transparent;
			color: $primary-color;
		}
	}
}

/* Post Banner */

.post-banner {
	position: relative;
	line-height: 1.125;
	display: block;
	height: 240px;
	background-image: url('/static/images/grid.png');
	background-color: #0a2d50;
	background-size: 35%;

	.pre-title {
		color: $tertiary-color;
		padding: 1rem 1rem 0;
	}

	h1 {
		color: $white;
		padding: 0 1rem 1rem 1rem;
	}
}

/** Footer **/

footer,
.footer {
	background: $primary-color;
	color: scale-color($secondary-color, $lightness: 60%);

	a {
		color: scale-color($secondary-color, $lightness: 70%);
	}
}

/** More media queries **/

@include breakpoint(small only) {
	body {
		font-size: rem-calc(20);
	}

	p {
		line-height: rem-calc(24);
	}
	
	header {
		.kdl-heading {
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}