/** Green-blue colour palette **/

// Bright green and bright blue
.green-blue {

	&.with-background {
		background-color: $bright-green;
	}

	a,
	h3,
	.title,
	blockquote {
		color: $bright-blue;

		&.button {
			color: $white;
		}
	}

    a.discover {
		color: $bright-blue;
	}

	button,
	.button {
		background-color: $bright-blue;
		border-bottom: 7px solid scale-color($bright-blue, $lightness: -30%);

        &:hover {
            background: scale-color($bright-blue, $lightness: -20%);
        }

        &:visited {
            border-bottom: 7px solid scale-color($bright-blue, $lightness: -30%);
        }
	}

	.banner-block {
		.subtitle {
			color: $bright-blue;
		}
	}

	.block-list {
		li {
	        background: url('/static/images/list-element-bright-blue.svg') 46px 46px no-repeat $white;
	        background-size: 7px;

			&:before {
        	    color: $bright-blue;
        	}
        }
	}

	svg#caret-down-outline {
		fill: $bright-blue;
	}

	.tags {
		background-color: $bright-blue;

	    li > a {
	        &:hover {
	            background: scale-color($bright-blue, $lightness: -15%);
	        }
	    }
	}
}