/** Green-blue colour palette **/

// Bright green and bright blue
.green-blue {

	&.with-background {
		background-color: $bright-green;
	}

	a,
	h3,
	.title,
	blockquote {
		color: $bright-blue;

		&.button {
			color: $white;
		}
	}

	button,
	.button {
		background-color: $bright-blue;
		border-bottom: 7px solid scale-color($bright-blue, $lightness: -30%);

		&.discover {
			color: $bright-blue;
			&:hover {
				background: none;
			}
		}

        &:hover {
            background: scale-color($bright-blue, $lightness: -20%);
        }
	}

	.banner-block {
		.subtitle {
			color: $bright-blue;
		}
	}

	.block-list {
		li {
	        background: url('/static/images/list-element-bright-blue.svg') 46px 46px no-repeat $white;

			&:before {
        	    color: $bright-blue;
        	}
        }
	}

	.tags {
		background-color: $bright-blue;

	    li > a {
	        &:hover {
	            background: scale-color($bright-blue, $lightness: -15%);
	        }
	    }
	}
}