/** Blue-azure colour palette **/

// Blue and light blue
.blue-azure {

	&.with-background {
		background-color: $dark-blue;
	}

	a,
	h3,
	.title,
	blockquote {
		color: #215488;

		&.button {
			color: $white;
		}
	}
	
	a.discover {
		color: $tertiary-color;
	}

	button,
	.button {
		background-color: $tertiary-color;
		border-bottom: 7px solid scale-color($tertiary-color, $lightness: -30%);

        &:hover {
            background: scale-color($tertiary-color, $lightness: -20%);
        }

        &:visited {
            border-bottom: 7px solid scale-color($tertiary-color, $lightness: -30%);
        }
	}

	.banner-block {
		.subtitle {
			color: $tertiary-color;
		}
	}

	.block-list {
		li {
	        background: url('/static/images/list-element-light-blue.svg') 46px 46px no-repeat $white;
	        background-size: 7px;

			&:before {
	            color: $tertiary-color;
	        }
	    }
	}

	svg#caret-down-outline {
		fill: $tertiary-color;
	}

	.tags {
		background-color: $tertiary-color;

	    li > a {
	        &:hover {
	            background: scale-color($tertiary-color, $lightness: -15%);
	        }
	    }
	}
}