/** Blue-azure colour palette **/

// Blue and light blue
.blue-azure {

	&.with-background {
		background-color: $dark-blue;
	}

	a,
	h3,
	.title,
	blockquote {
		color: $tertiary-color;

		&.button {
			color: $white;
		}
	}

	button,
	.button {
		background-color: $tertiary-color;
		border-bottom: 7px solid scale-color($tertiary-color, $lightness: -30%);

		&.discover {
			color: $tertiary-color;
			&:hover {
				background-color: none;
			}
		}

        &:hover {
            background: scale-color($tertiary-color, $lightness: -20%);
        }
	}

	.banner-block {
		.subtitle {
			color: $tertiary-color;
		}
	}

	.block-list {
		li {
	        background: url('/static/images/list-element-light-blue.svg') 46px 46px no-repeat $white;

			&:before {
	            color: $tertiary-color;
	        }
	    }
	}

	.tags {
		background-color: $tertiary-color;

	    li > a {
	        &:hover {
	            background: scale-color($tertiary-color, $lightness: -15%);
	        }
	    }
	}
}