{% load cms_tags staticfiles %}

<div class="row top-footer">
  <div class="large-3 columns">
    {% block footer_menu %}
    {% get_site_root as site_root %}
    {% footer_menu root=site_root current_page=self %}
    {% endblock %}
  </div>
  <div class="large-5 columns">
    <p>
      King's College London<br>
      Room VWB 2.50, Virginia Woolf Building<br>
      22 Kingsway<br>
      London WC2B 6LE
    </p>
    <p>
      <a href="mailto:kdl-info@kcl.ac.uk">kdl-info@kcl.ac.uk</a>
    </p>
  </div>
  <div class="large-2 large-offset-2 columns float-right-large">
    <img src="{% static 'images/kcl-crest-04.png' %}" alt="King's College London">
  </div>
</div>

<div class="row darker bottom-footer">
  <div class="large-3 columns">
    <ul class="no-bullet">
      <li><a href="#">Terms &amp; Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Sitemap</a></li>
    </ul>
  </div>
  <div class="large-3 columns">
    <p class="top-padding">
      <!-- <a href="#"><i class="fa fa-facebook-official"></i></a> -->
      <a href="#"><i class="fa fa-twitter"></i></a>&nbsp;
      <!-- <a href="#"><i class="fa fa-google-plus"></i></a>&nbsp; -->
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </p>
  </div>
  <div class="large-6 columns">
    <p class="top-padding float-right-large">&copy; {% now 'Y' %} King's Digital Lab</p>
  </div>
</div>
