{% load staticfiles %}
<div class="row expanded small-collapse">
    <div class="medium-3 small-6 columns collapse">
        <div class="kdl-heading">
            <span class="show-for-medium"><a href="/"><img src="{% static 'images/kdl-heading.svg' %}" alt="King's Digital Lab"></a></span><span class="show-for-small-only"><a href="/"><img src="{% static 'images/kdl-heading-mob.svg' %}" alt="King's Digital Lab"></a></span>
            {% comment %}
            <h1><a href="/">King's <span class="hide-for-small-only"><br></span>Digital Lab</a></h1>
            {% endcomment %}
        </div>
    </div>
    <div class="medium-4 small-4 columns collapse">
    	<nav>
    		{% include 'includes/navigation.html' %}
    	</nav>
    </div>
    <div class="medium-3 hide-for-small-only columns collapse">
    	{% include 'includes/search_box.html' %}
    </div>
    <div class="small-2 columns collapse kcl-logo">
      <a href="//www.kcl.ac.uk/" title="King's College London">
        <img class="float-right" src="{% static 'images/kings-logo-red.svg' %}" alt="King's College London">
      </a>
    </div>
</div>
