{% load cms_tags %}

<div class="row">
  <div class="large-12 columns">
    <div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="large">
      <button type="button" data-toggle>Menu</button>
    </div>

    <div class="top-bar" id="top-menu">
      <div class="top-bar-left">

        {% block main_menu %}
        {% get_site_root as site_root %}
        {% main_menu root=site_root current_page=self %}
        {% endblock %}

      </div>
      <div class="top-bar-right">
      </div>
    </div>
  </div>
</div>