{% load staticfiles compress require %}
<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block meta_title %}{% endblock %} | King's Digital Lab</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/foundation-datepicker/css/foundation-datepicker.css' %}">
        {# SCSS compilation relies on django compressor #}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
        {% endcompress %}

        {# Favicon #}
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    </head>
    <body class="{{ self.content_type.model }}">
        <header>
            {% include 'includes/header.html' %}
        </header>

        <section class="{% block section_class %}main{% endblock %}">
            {% block main %}{% endblock %}
        </section>

        <footer>
            {% block footer %}
            {% include 'includes/footer.html' %}
            {% endblock %}
            {# Cookies #}
            <div class="cookies-box hide" id="cookie-disclaimer">
              <p>We use cookies to track usage and preferences.</p>
              <p><a href="/privacy-policy/" class="button secondary">Cookie Policy</a> <button class="button success closeme" aria-label="Dismiss alert" type="button">I understand</button></p>
            </div>
        </footer>

        <script type="text/javascript">
            {% include 'includes/config.js' %}
        </script>

        <script type="text/javascript">
  var DIGITAL_CLIMATE_STRIKE_OPTIONS = {
    /**
     * Specify view cookie expiration. After initial view, widget will not be
     * displayed to a user again until after this cookie expires. Defaults to 
     * one day.
     */
    cookieExpirationDays: -1, // @type {number}
    
    /**
     * Set the language of the widget. We currently support:
     * 'en': English
     * 'de': German
     * 'es': Spanish
     * 'cs': Czech
     * 'fr': French
     * 'nl': Dutch
     * 'tr': Turkish
     * 'pt': Portuguese
     * Defaults to null, which will obey the navigator.language setting of the 
     * viewer's browser.
     */
     language: null, // @type {string}
     
    /**
     * Allow you to override the iFrame hostname. Defaults to https://assets.digitalclimatestrike.net  
     */
    iframeHost: 'https://assets.digitalclimatestrike.net', // @type {string}

    /**
     * Prevents the widget iframe from loading Google Analytics. Defaults to
     * false. (Google Analytics will also be disabled if doNotTrack is set on
     * the user's browser.)
     */
    disableGoogleAnalytics: false, // @type {boolean}

    /**
     * Always show the widget, even when someone has closed the widget and set the cookie on their device. 
     * Useful for testing. Defaults to false.
     */
    alwaysShowWidget: false, // @type {boolean}

    /**
     * Automatically makes the widget full page. Defaults to false.
     */
    forceFullPageWidget: false, // @type {boolean}
    
    /**
    * For the full page widget, shows a close button "x" and hides the message about the site being 
    * available tomorrow. Defaults to false.
    */
    showCloseButtonOnFullPageWidget: true, // @type {boolean}
    
    /**
     * The date when the sticky footer widget should start showing on your web site.
     * Note: the month is one integer less than the number of the month. E.g. 8 is September, not August.
     * Defaults to new Date(2019, 7, 1) (August 1st, 2019).
     */
    footerDisplayStartDate: new Date(), //@ type {Date object}
    
    /**
     * The date when the full page widget should showing on your web site for 24 hours. 
     * Note: the month is one integer less than the number of the month. E.g. 8 is September, not August.
     * Defaults to new Date(2019, 8, 20) (September 20th, 2019)
     */
    fullPageDisplayStartDate: new Date(2019, 8, 20), //@ type {Date object}
  };
</script>
<script src="https://assets.digitalclimatestrike.net/widget.js" async></script>

        {% require_module 'config' %}

        {% block footer_scripts %}{% endblock %}
    </body>
</html>
