{% extends "cms/base.html" %}
{% load staticfiles wagtailcore_tags %}

{% block pre-banner %}
<div class="pre-banner shadowed">
	<h3 class="pre-title">
		{# TODO: Replace dynamically with something coming from Wagtail #}
		Pre title?
	</h3>
	<h1>
	    {{ self.title }}
	</h1>
</div>
{% endblock %}

{% block banner %}
<div class="banner with-tags">
	{# TODO: Replace dynamically with banner image coming from Wagtail #}
	<img src="{% static 'images/placeholder-square.svg' %}" alt="Banner placeholder">

	<div class="tags">
		<ul class="menu">
			{# TODO: Replace <li> dynamically with tags coming from Wagtail #}

			{% comment %}
		    {% for tag in tags %}
			<li><a href="#">{{ tag.name }}</a></li>
			{% endfor %}
			{% endcomment %}

			<li><a href="#">Mapping</a></li>
			<li><a href="#">Linguistics</a></li>
			<li><a href="#">Archaeology</a></li>
			<li><a href="#">Data modelling</a></li>
			<li><a href="#">Visualisation</a></li>
		</ul>
	</div>

	<a class="small button radius discover" href="#content"><i class="fa fa-angle-double-down fa-lg"></i></a>
</div>
{% endblock %}