{% extends "cms/base.html" %}
{% load staticfiles wagtailcore_tags %}

{% block banner %}
<section class="homepage banner shadowed">
	<div class="row expanded">
		<div class="large-12 columns">
			<div class="absolute">
				<div class="half-block">
					<h2>Digital researchers and data experts</h2>
					<h1>We create digital tools to explore academic research in new ways.</h1>
				</div>
			</div>
		</div>
	</div>
	<a class="small button radius discover" href="#content"><i class="fa fa-angle-double-down fa-lg"></i></a>
</section>
{% endblock %}

{% block main %}

{{ block.super }}

<h2 class="text-center section-title">Some of our recent projects</h2>
{% include "cms/includes/featured_work.html" %}
{% include "cms/includes/works.html" %}
{% include "cms/includes/services.html" %}

{# Quote here #}

<div class="row">
	<div class="large-8 columns">
		<h3 class="subhead post-section-title">Blog</h3>
	</div>
	<div class="large-4 columns">
		<h3 class="subhead post-section-title"><i class="fa fa-twitter"></i> Latest</h3>
		{% include "cms/includes/twitter_feeds.html" %}
	</div>
</div>

{% endblock %}