{% extends "cms/base.html" %}

{% block grid-block %}
<div class="full-width light-gray-bg row-block">
	<div class="row">
		<div class="large-12 columns">
			<h3 class="subhead">In partnership with</h3>
		</div>
	</div>

	<div class="row small-up-2 medium-up-4">
		<div class="column">
			<img src="/static/media/images/uni-wales.max-165x165.png" alt="Logo placeholder">
		</div>
		<div class="column">
			<img src="/static/media/images/uni-wales.max-165x165.png" alt="Logo placeholder">
		</div>
		<div class="column">
			<img src="/static/media/images/uni-wales.max-165x165.png" alt="Logo placeholder">
		</div>
		<div class="column">
			<img src="/static/media/images/uni-wales.max-165x165.png" alt="Logo placeholder">
		</div>
	</div>
</div>

<div class="full-width light-gray-bg row-block">
	<div class="row">
		<div class="large-12 columns">
			<h3 class="subhead">With funding from</h3>
		</div>
	</div>

	<div class="row small-up-2 medium-up-4">
		<div class="column">
			<img src="/static/media/images/uni-wales.max-165x165.png" alt="Logo placeholder">
		</div>
		<div class="column">
			<img src="/static/media/images/uni-wales.max-165x165.png" alt="Logo placeholder">
		</div>
		<div class="column">
			<img src="/static/media/images/uni-wales.max-165x165.png" alt="Logo placeholder">
		</div>
		<div class="column">
			<img src="/static/media/images/uni-wales.max-165x165.png" alt="Logo placeholder">
		</div>
	</div>
</div>
{% endblock %}
